<div class="container">
	<div class="row info">
		<div class="col-md-1">
		</div>
		<div class="col-md-5">
			<h3>Cahier de Brouillon</h3>
			<p>is een muziekcafé dat al sinds 1981 muzikale en culturele prikkels stuurt doorheen gans de Noorderkempen. We bieden optredens van diverse genres zoals rock, pop, hardcore punk, hiphop, electronisch, jazz, ska en reggae tot Antilliaans en Afrikaans.</p>
			<p>Het café is bovendien een uitstekende locatie voor fuiven. Check onze <strong>CARTE BLANCHE</strong>.</p>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-5">
			<h3>Openingsuren</h3>
			<table style="width:50%">
 				<tr>
	 				<td>Woensdag</td>
	 				<td>20h-00h</td>
 				</tr>
				<tr>
	 				<td>Vrijdag</td>
	 				<td>21h-4h</td>
 				</tr>
				<tr>
	 				<td>Zaterdag</td>
	 				<td>21h-4h</td>
 				</tr>
			</table>
			<!-- <br>
			<p>Je kan je met <a href="https://forms.gle/Xfmqd5bNDwrbsnco6">dit online inschrijvingsformulier</a> aanmelden als kandidaat-tapper voor de Antilliaanse Feesten op vrijdag 9 en zaterdag 10 augustus 2019. Op die manier draag je bij tot het welslagen van dit schitterend evenement én bovendien kan je de kas van Cahier de Brouillon helpen spekken.</p>
		 -->	</div>
	</div>

	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-11">
			<h3>Evenementen</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12"><%= image_tag "brushstroke.png", :class => "img-responsive" %></div>
	</div>

	 <% @events.each do |event| %>
       	<div class="row">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-2">
				<p><%= event.date.strftime('%d/%m') %></p>
			</div>
			<div class="col-sm-7">
				<p><%= event.title %></p>
			</div>
			<% unless event.cahiercard.blank? && event.price.blank? %>
			<div class="col-md-2">
       			<p>€<%= event.cahiercard.round %>/€<%= event.price.round %></p>
      		</div>
      		<% else %>
      		<div class="col-md-2">
       			<p>GRATIS!</p>
      		</div>
      		<% end %>
		</div>
    <% end %>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
   	<!-- Indicators -->
	<ol class="carousel-indicators">
	   <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	   <li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
		<li data-target="#myCarousel" data-slide-to="4"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
	    <div class="item active">
	    	<%= image_tag "bankske.jpg" %>
	    </div>

	    <div class="item">
	    	<%= image_tag "cour.jpg" %>
	    </div>

	    <div class="item">
	    	<%= image_tag "drankkot.jpg" %>
	    </div>

	    <div class="item">
	    	<%= image_tag "gevel.jpg" %>
	    </div>
	    <div class="item">
	    	<%= image_tag "klimop.jpg" %>
	    </div>
	</div>
</div>
