<li class="<%= active_class("/index") %>"><a href="/index">Home</a></li>
<li class="<%= active_class("/events") %>"><a href="/events">Events</a></li>
<li class="<%= active_class("/albums") %>"><a href="/albums">Foto</a></li>
<li class="<%= active_class("/users/edit") %>"><a href="/users/edit">Account</a></li>
<li><%= link_to 'Uitloggen', destroy_user_session_path, :method=>'delete' %></li>