<li class="<%= active_class("/index") %>"><a href="/index">Home</a></li>
<li class="<%= active_class(agenda_path) %>"><%= link_to 'Agenda', agenda_path(:year => Date.today.strftime("%Y"), :anchor => Date.today.strftime("%B")) %></li>
<li class="<%= active_class("/brouillon") %>"><a href="/brouillon">Brouillon</a></li>
<li class="<%= active_class("/contact") %>"><a href="/contact">Contact</a></li>
<li class="<%= active_class(albums_path) %>"><%= link_to 'Foto', albums_path %></li>
<li> <a  class="nieuwsbrief" data-toggle="modal" data-target="#myModal">Nieuwsbrief</a>
</li>
