<!DOCTYPE html>
<html>
<head>
  <title>Cahierdebrouillon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'logo_black.png', rel: 'apple-touch-icon' %>
  <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
</head>
<body>
	<header>
   	<%= render 'layouts/navigation' %>
  </header>

  <% if current_page?(url_for('/contact')) %>
    <div id="wrap" class="white">
  <% elsif current_page?(controller:'/albums') %>
    <div id="wrap" class="white">
  <% else %>
    <div id="wrap">
  <% end %>

	<main role="main">
		<%= yield %>
	</main>

  <div class="footer">
    <%= render 'layouts/footer' %>
  </div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</body>
</html>